body {
    background-image: url("Photos/2166.jpg")


}

p {
    color: white;
    text-align: center;


}

h1 {
    color: white;
    text-align: center;



}
ul {
    color: white;
}

li {
    color: white;
}

ol {
    color: white;
}

